[submodule "tiny-dnn"]
	path = tiny-dnn
	url = https://github.com/tiny-dnn/tiny-dnn.git
[submodule "gym-http-api"]
	path = gym-http-api
	url = https://github.com/openai/gym-http-api.git
[submodule "jsoncpp"]
	path = jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
